# python
.venv/
__pycache__/
*.pyc

# experiments / artifacts
experiments/runs/
artifacts/
outputs/
logs/

# data
data/
*.zip
*.tar
*.tar.gz
*.pt
*.ckpt

# dvc
.dvc/
*.dvc

# PRIVATE_DOCS
docs/PRIVATE_DOCS/